* {
    margin: 0;
    padding: 0;
}

.sidebar {
    --sidebar-width: 300px;
    --sidebar-item-height: 45px;
    --sidebar-item-padding: 0 18px;

    --sidebar-background-color: #191919;
    --sidebar-header-border-color: #282828;
    --sidebar-header-icon-text-gap: 10px;
    --sidebar-dropdown-menu-border: 10px;
    --sidebar-dropdown-menu-border-color: #222222;
    --sidebar-dropdown-menu-background-color: #393939;
    --sidebar-item-hover-color: #4d4d4d;
    --sidebar-item-hover-font-size: 18px;
    --sidebar-text-color: #c8c9ca;
    --sidebar-text-hover-color: #ffffff;
}

.sidebar {
    height: 100vh;
    width: var(--sidebar-width);

    background-color: var(--sidebar-background-color);
}

.sidebar a {
    color: var(--sidebar-text-color);
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--sidebar-text-hover-color);
}

.sidebar-items {
    display: grid;
}

.sidebar-divider {
    border-bottom: 2px solid var(--sidebar-header-border-color);
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: var(--sidebar-header-icon-text-gap);

    padding: var(--sidebar-item-padding);
    height: var(--sidebar-item-height);

    font-size: var(--sidebar-item-hover-font-size);
}

.sidebar-header:hover {
    font-size: var(--sidebar-item-hover-font-size);
}

.sidebar-item {
    display: flex;
    align-items: center;

    padding: var(--sidebar-item-padding);
    height: var(--sidebar-item-height);
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: var(--sidebar-item-hover-color);
    font-size: var(--sidebar-item-hover-font-size);
}

.sidebar-dropdown-menu {
    display: none;

    border-left: var(--sidebar-dropdown-menu-border) solid var(--sidebar-dropdown-menu-border-color);
    background-color: var(--sidebar-dropdown-menu-background-color);
}

.sidebar-dropdown-header {
    display: flex;
    gap: var(--sidebar-header-icon-text-gap);
    align-items: center;

    padding: var(--sidebar-item-padding);
    height: var(--sidebar-item-height);

    color: var(--sidebar-text-color);
}

.sidebar-dropdown-header:hover {
    cursor: pointer;

    color: var(--sidebar-text-hover-color);
    background-color: var(--sidebar-item-hover-color);

    font-size: var(--sidebar-item-hover-font-size);
}

.sidebar-dropdown-item {
    display: flex;
    align-items: center;

    padding: var(--sidebar-item-padding);
    height: var(--sidebar-item-height);

}

.sidebar-dropdown-item:hover {
    cursor: pointer;
    background-color: var(--sidebar-item-hover-color);
    font-size: var(--sidebar-item-hover-font-size);
}

.sidebar .active {
    font-weight: 700;
    color: var(--sidebar-text-hover-color);
}
